@font-face {
  font-family: TTLakes_regular;
  src: url(assets/fonts/TTLakes-Regular.woff);
}

@font-face {
  font-family: TTLakes_medium;
  src: url(assets/fonts/TTLakes-Medium.woff);
}


body{
  margin: 0px;
  background-color: #F2F2F2;
  overflow: hidden;
  width: 100%;
}


.second-block-wrapper_hidden{
  display: none;
}
 
.image-slider__wrapper{
  padding: 16px 0px 16px 16px;

}

.header{
  height: 80px;
  background-image: linear-gradient(to right, #f2f2f2, #ffffff);
  position: relative;
  border-top: 2px solid #D9FFF5;
}
.title{
  position: absolute;
  height: 48px;
  left: 16px;
  top: 16px;
  font-weight: 400;

  font-family: 'TTLakes_regular', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;


  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
}

.image-slider{
  width: 320px;
  height: 120px;
}
.swiper-pagination{
  position: absolute;
  top: 184px;
}

.image-slider .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color: #B5B6BC;
}

@media (min-width: 768px) {
  .second-block-wrapper{
    display: block;
  }

  .first-block-wrapper_hidden{
    display: none;

  }
}

.images-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0 8px 24px;
  box-sizing: border-box;
  max-width: 768px;
}

.brand-image{
  margin: 0px 24px 16px 0px;
  width: 224px;
}

.brand-image img{
  width: 224px;
}

.brand-image_hidden{
  display: none;
}

.ReadMore{
  padding: 0;
  border: 0;
  width: 134px;
  height: 24px;
  font-family: 'TTLakes_medium', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #1B1C21;
  background-color: #F2F2F2;
  vertical-align: middle;
  margin-left: 24px;
  cursor: pointer;
}

.ReadMore img{
  padding-right: 9px;
}

@media (min-width: 1120px) {
  .brand-image_hidden:not(.brand-image_hidden2){
    display: block;
  }
    
  .images-wrapper{
    max-width: 1120px;
    padding: 32px 0 8px 32px;
  }

  .brand-image img{
    width: 240px;
  }
  .brand-image{
    width: 240px;
    margin: 0 32px 16px 0;
  }
}